<!-- contact section -->

<div id="contact">

  <section id="section-7">
    <div class="container">

      <div>
        <h2> Contact Us </h2>
        <div class="lines">
          <div class="line1 text-center "> ___________ </div>
          <div class="line1 text-center"> _________________________</div>
          <div class="line1 text-center"> ___________ </div>
        </div>
      </div>

      <form class="text-center"  action="https://formspree.io/f/xdawekoq" method="POST">
        <div class="name d-inline-block w-25 p-1 ">
          <input type="text" name="name" required placeholder="Name">
        </div>
        <div class="email d-inline-block w-25 p-1">
          <input type="email" name="email" required placeholder="Email">
        </div>
        <div class="subject p-1">
          <input type="text" name="subject" required placeholder="Subject">
        </div>
        <div>
          <textarea name="" id="" placeholder="Message for me"></textarea>
        </div>
        <button class="form-btn text-uppercase"> Send message </button>
      </form>

    </div>
  </section>


  <section id="section-8">
    <div class="container-fluid">

      <ul class="d-flex justify-content-center align-items-center ">
        <li> <a href="#">
            <i class="fa-brands fa-facebook  px-3"></i>
          </a> </li>
        <li> <a href="#">
            <i class="fa-brands fa-twitter  px-3"></i>
          </a></li>
        <li> <a href="#">
            <i class="fa-brands fa-google  px-3"></i>
          </a></li>
        <li> <a href="#">
            <i class="fa-brands fa-github  px-3"></i>
          </a></li>
      </ul>

      <div class="copy-right d-flex justify-content-center p-2">
        <p> Copy Right 2018 © By <span> Theme-fair</span> All Rights Reserved</p>
      </div>

    </div>
  </section>


</div>
