<!-- portfolio section -->

<div id="portfolio">

  <section id="section-3">
    <div class="container-fluid">

      <div>
        <h2> Our Portfolio </h2>
        <div class="lines">
          <div class="line1 text-center "> ___________ </div>
          <div class="line1 text-center"> _________________________</div>
          <div class="line1 text-center"> ___________ </div>
        </div>
      </div>

      <!-- Nav Tabs -->
      <ul class="nav nav-tabs d-flex justify-content-center align-items-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-uppercase" id="all-cat-tab" data-bs-toggle="tab" data-bs-target="#all-cat"
            type="button" role="tab" aria-controls="all-cat" aria-selected="true">
            All
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uppercase" id="cat1-tab" data-bs-toggle="tab" data-bs-target="#cat1"
            type="button" role="tab" aria-controls="cat1" aria-selected="false">
            Graphics
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uppercase" id="cat2-tab" data-bs-toggle="tab" data-bs-target="#cat2"
            type="button" role="tab" aria-controls="cat2" aria-selected="false">
            Web Design
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-uppercase" id="cat3-tab" data-bs-toggle="tab" data-bs-target="#cat3"
            type="button" role="tab" aria-controls="cat3" aria-selected="false">
            Branding
          </button>
        </li>
      </ul>

      <!-- Tabs Content -->
      <div class="tab-content p-3 border border-top-0" id="myTabContent">
        <!-- Tab ALL -->
        <div class="tab-pane fade show active" id="all-cat" role="tabpanel" aria-labelledby="all-cat-tab">
          <div class="container-fluid">
            <div class="row gx-3 gy-3">
              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/1.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle1" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/1.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle1" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/2.jpg" class="img-fluid rounded">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/2.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/3.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle3" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/3.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/4.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle4" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/5.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle10" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/5.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle10" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/6.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle6" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/6.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle6" data-bs-toggle="modal"></i>
                </div>
              </div>



            </div>
          </div>
        </div>

        <!-- Tab Graphics -->
        <div class="tab-pane fade" id="cat1" role="tabpanel" aria-labelledby="cat1-tab">
          <div class="container-fluid">
            <div class="row gx-3 gy-3">
              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/1.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle11" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/1.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle11" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/2.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle12" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/2.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle12" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/3.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle13" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/3.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle13" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/4.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle44" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle44" data-bs-toggle="modal"></i>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Tab Web Design -->
        <div class="tab-pane fade" id="cat2" role="tabpanel" aria-labelledby="cat2-tab">
          <div class="container-fluid">
            <div class="row gx-3 gy-3">
              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/4.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle15" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle15" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/6.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle16" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/6.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle16" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/2.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle17" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/2.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle17" data-bs-toggle="modal"></i>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- Tab Branding -->
        <div class="tab-pane fade" id="cat3" role="tabpanel" aria-labelledby="cat3-tab">
          <div class="container-fluid">
            <div class="row gx-3 gy-3">
              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/3.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle8" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/3.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle8" data-bs-toggle="modal"></i>
                </div>
              </div>

              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/4.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle9" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle9" data-bs-toggle="modal"></i>
                </div>
              </div>
              <div class="col-4 position-relative overflow-hidden">
                <img src="assets/imgs/5.jpg" class="img-fluid rounded" alt="">
                <div class="layer">
                  <div class="modal fade" id="exampleModalToggle20" aria-hidden="true"
                    aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-transparent">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img src="assets/imgs/5.jpg" alt="">
                      </div>
                    </div>
                  </div>
                  <i class="fa-solid fa-file-image" data-bs-target="#exampleModalToggle20" data-bs-toggle="modal"></i>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


</div>
