<!-- testimmonial section -->

<div id="testi">

  <section id="section-4" class="h-50">
    <div class="container-fluid bg-light ">
      <div class="row">
        <div class="col-3">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-user-plus"></i>
          </div>
          <h3> 200 </h3>
          <h5> Team members</h5>
        </div>
        <div class="col-3">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa-regular fa-file"></i>
          </div>
          <h3> 345 </h3>
          <h5> Complete Projects </h5>
        </div>
        <div class="col-3">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-cloud-arrow-down"></i>
          </div>
          <h3> 1800 </h3>
          <h5> Files Downloaded </h5>
        </div>
        <div class="col-3">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-mug-saucer"></i>
          </div>
          <h3> 1200 </h3>
          <h5> Lines Of Code</h5>
        </div>
      </div>
    </div>
  </section>

  <section id="section-5">
    <div class="container-fluid">

      <div>
        <h2> Client's Feedback </h2>
        <div class="lines">
          <div class="line1 text-center "> ___________ </div>
          <div class="line1 text-center"> _________________________</div>
          <div class="line1 text-center"> ___________ </div>
        </div>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide">

        <div class="carousel-inner " data-bs-ride="carousel">
          <div class="carousel-item active ">

            <div class="card mx-auto">
              <img src="/assets/imgs/2 (1).jpg" alt="...">

              <div class="card-content ">
                <h3> Alex ander </h3>
                <h4>
                  <a href="#">
                    <i class="fa-solid fa-location-dot"></i>
                    United
                  </a>
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ducimus ex magni sunt,
                  architecto vel dolore, laudantium dignissimos debitis optio! Exercitationem adipisicing elit.</p>
                <div class="icon-review">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>


            </div>
          </div>

          <div class="carousel-item ">
            <div class="card  mx-auto">
              <img src="/assets/imgs/3 (1).jpg" alt="...">

              <div class="card-content ">
                <h3> Alex ander </h3>
                <h4>
                  <a href="#">
                    <i class="fa-solid fa-location-dot"></i>
                    United
                  </a>
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ducimus ex magni sunt,
                  architecto vel dolore, laudantium dignissimos debitis optio! Exercitationem adipisicing elit.</p>
                <div class="icon-review">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
              </div>


            </div>
          </div>

        </div>

        <div class="carousel-indicators position-static">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active  "
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"
            class=" custom-btn "></button>
        </div>

      </div>


    </div>
  </section>


</div>
