<!-- blog section -->

<div id="blog">

  <section id="section-6">
    <div class="container-fluid ">

      <div>
        <h2> Our Blog </h2>
        <div class="lines">
          <div class="line1 text-center "> ___________ </div>
          <div class="line1 text-center"> _________________________</div>
          <div class="line1 text-center"> ___________ </div>
        </div>
      </div>

      <div class="cards d-flex justify-content-center align-content-center ">
        <div class="card">
          <img src="assets/imgs/1 (1).jpg" class="card-img-top h-40" alt="...">
          <div class="card-body">
            <div class="card-date">23 November, 2015</div>
            <a href="#" class="card-title text-decoration-none text-capitalize"> web design Blog Post</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae.
            </p>
            <div class="read-more-btn">
              <a href="#" class="btn text-capitalize">read more</a>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video"
              allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <div class="card-date">20 April, 2018</div>
            <a href="#" class="card-title text-decoration-none text-capitalize"> development Blog Post</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae.
            </p>
            <div class="read-more-btn">
              <a href="#" class="btn text-capitalize">read more</a>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="assets/imgs/3 (2).jpg" class="card-img-top " alt="...">
          <div class="card-body">
            <div class="card-date">17 May, 2017</div>
            <a href="#" class="card-title text-decoration-none text-capitalize"> Full Width Blog Post</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur ea, quis magnam deserunt eius incidunt repellat molestiae.
            </p>
            <div class="read-more-btn">
              <a href="#" class="btn text-capitalize">Read More</a>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section>

</div>
